@font-face {
    font-family: 'snord'; /*a name to be used later*/
    src: url('./static/fonts/suissnord_R.otf'); /*URL to font*/
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background: #e1e1e1;
    width: 100%;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
    z-index: -200;
}








/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}









a{
    color: #00709a;
}

.hero p {
  margin: 10px 0;
}

.hero a {
  text-decoration: none;
  color: #333;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 2rem;
}

/* Navbar Styling */
.hero {
    position: relative;
    z-index: 50;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    padding: 1.25rem;
    transition: 0.3s;
    z-index: 50;
}

.navbar .logo {
    padding: 1.5rem;
    font-size: 2rem;
    font-family: 'snord';
}

.navbar .logo a {
  transition: color 0.4s ease-in-out;
}

.navbar .logo a:hover {
  color: #32b9d9;
}

.navbar .nav-menu {
  display: flex;
}

.nav-menu .nav-link {
   margin: 0 1rem;
    transition: 0.2s color;
}

.nav-menu .nav-link:hover {
   color: #ebb216;
}

/* Navbar icons */
.nav-menu .nav-link .nav-icon {
   margin-right: 0.3rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  background-color: #101010;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        /* 
          You can change the position of the navbar 
          ----------------------------------------------------------------------------------
          To succesfully do this, you must change the .nav-menu.active to the chosen position
          * right: -100%;
          * .right-menu.active { right: 0;}
          -----------------------------------------------------------------------------------
        */
        right: -100vw;
        top: 4rem;
        flex-direction: column;
        min-width: 200px;
        text-align: left;
        transition: 0.3s;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
        background-color: white;
        padding: 1rem;
        border-radius: 5px;
    }
    .nav-menu.transparent{
        background-color: rgba(255, 255, 255, 0.16);
    }

  .nav-menu.active {
    right: 20px;
  }
  
  .nav-menu .nav-link {
     padding: 0.6rem 0;
     font-size: 1.05rem;
  }

    .hamburger {
        display: block;
        cursor: pointer;
        padding: 0.2rem 0.4rem;
        transition: 0.2s;
    }

    .hamburger:hover {
        background: rgba(255, 255, 255, 0.22);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.22);
    }

  .hamburger.active {
     border: 1px dotted gray;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}




.sussyImage {
    width: 106vw!important;
}





#wrapper {
    position: relative;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first-h {
    float:left; /* add this */
    border: 0px solid red;
    margin-right: 20;
    color: transparent;
    display: none;
}
#first {
    float:left; /* add this */
    border: 0px solid red;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-right: 20;
    background: #e1e1e1;
    height: 50%;
}
#second {
    flex-grow: 3;
    border: 0px solid green;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* if you don't want #second to wrap below #first */
}


@media only screen and (max-width: 1143px) {
    .sussyImage {
        top: -5px!important;
        width: 106vw!important;
    }
}

.content .container h1 {
  font-size: 48px;
  margin-bottom: 2rem;
}

.content .container p {
  color: #ccc;
}

.content .container p a {
  color: #fff;
}

footer {
  width: 100%;
  background-color: #1e3161;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .row {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.container .row:nth-child(2) {
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;
}

.row .col {
  height: 100%;
  align-self: flex-start;
}

.col h3 {
  font-size: 30px;
  margin-bottom: 1rem;
}

.container ul li {
  list-style-type: none;
  margin: 0.75rem 0;
}

.container ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 5px;
  transition: 0.4s ease;
}

.container ul li a:hover {
  background-color: #5ac1d8;
}

.language ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.language ul li {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.socail ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.socail ul li {
  margin-right: 0.5rem;
}

.socail ul li a {
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
	h2 {
		font-size: 2.5vw;
	}
}

@media screen and (max-width: 768px) {
  .container .row {
	grid-template-columns: repeat(1, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
  }

  .col h3 {
	font-size: 24px;
  }

  .language {
	margin: 1rem 0;
  }

  .container > ul li a {
	font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
  .col h3 {
	font-size: 18px;
  }

  .language {
	margin: 0.5rem 0;
  }

  .container > ul li a {
	font-size: 14px;
  }
}
.brand_lg {
	height: 3vw;
}